<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui teal header item">Blog</h2>
      <a href="/" class="m-item item m-mobile-hide <#if menuAct! == '1'>active</#if>"><i
                class="mini home icon"></i>首页</a>
      <a href="/league/list" class="m-item item m-mobile-hide <#if menuAct! == '2'>active</#if>"><i
                class="mini idea icon"></i>社团</a>

      <div class="right m-item item m-mobile-hide">
        <form name="search" action="/index" method="post" target="_blank" style="margin-right: 30px">
          <div class="ui icon inverted transparent input m-margin-tb-tiny">
            <input type="text" name="title" placeholder="Search....">
            <i onclick="document.forms['search'].submit()" class="search link icon"></i>
          </div>
        </form>


        <#if sessionUser??>
          <div class="ui dropdown ">
            <div class="text">
              <img class="ui avatar image" src="${sessionUser.icon!}">
              ${sessionUser.name}
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="/user/blogList" class="item">我的博客</a>
              <a href="/user/detail" class="item">个人信息</a>
              <a href="/league/myList" class="item">我的社团</a>
              <a href="/logout" class="item"><i class="mini power off icon"></i>注销</a>
            </div>
          </div>
        <#else >
          <a href="/login" class="m-item item m-mobile-hide"><i class="mini user icon"></i>登录</a>
          <a href="/register" class="m-item item m-mobile-hide"><i class="mini user icon"></i>注册</a>
        </#if>

      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
    <i class="sidebar icon"></i>
  </a>
</nav>