<!DOCTYPE html>
<html lang="en">
<#include "../common/head.html"/>
<body>

<!--导航-->
<#include "../common/menu.html"/>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
  <div class="ui container">
    <form id="blog-form" action="/user/sendBlog" method="post" class="ui form" enctype="multipart/form-data"
          onsubmit="formSubmit()">
      <input type="hidden" name="id" value="${blog.id!}">
      <div class="required field">
        <div class="ui left labeled input">
          <input type="text" name="title" required placeholder="标题" value="${blog.title!}">
        </div>
      </div>

      <div class="required field">
        <div id="md-content" style="z-index: 1 !important;">
          <script id="container" name="content" type="text/plain">${blog.content!}</script>
        </div>
      </div>

      <div class="required field">
        <div class="ui left labeled input">
          <label class="ui teal basic label">首图</label>
          <input type="file" required name="file">
        </div>
      </div>
      <div class="required field">
        <div class="ui left labeled input">
          <label class="ui teal basic label">标签</label>
          <input type="text" required name="tag" value="${blog.tag!}">
        </div>

        <div class="required field">
          <textarea name="description" required placeholder="博客描述..." maxlength="200">${blog.description!}</textarea>
        </div>
      </div>
      <div class="ui error message"></div>

      <div class="ui right aligned container">
        <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
        <button type="button" id="publish-btn" class="ui teal button">发布</button>
      </div>

    </form>
  </div>
</div>

<#include "../common/footer.html"/>
<script type="text/javascript" src="/webjars/ueditor-bower/1.4.3/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/webjars/ueditor-bower/1.4.3/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container', {
        autoHeightEnabled: true,
        // 服务器统一请求接口路径
        serverUrl: "http://localhost/ueditor/server"
    });

    function formSubmit() {
        $("#content").val(ue.getContent());
    }
</script>
<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#blog-form').submit();
    });


    $('#publish-btn').click(function () {
        $('[name="published"]').val(true);
        $('#blog-form').submit();
    });

</script>
</body>
</html>