<!DOCTYPE html>
<html lang="en">
<#include "common/head.html"/>
<body>

<!--导航-->
<#include "common/menu.html"/>

<!--中间内容-->
<div id="waypoint" class="m-container-small m-padded-tb-big animated fadeIn">
  <div class="ui container">
    <div class="ui top attached segment">
      <div class="ui horizontal link list">
        <div class="item">
          <img src="${user.icon}" class="ui avatar image">
          <div class="content"><a href="#" class="header">${user.name}</a></div>
        </div>
        <div class="item">
          <i class="calendar icon"></i> <span>${blog.createTime?string("yyyy-MM-dd")}</span>
        </div>
        <div class="item">
          <i class="eye icon"></i> <span>${blog.browseNum}</span>
        </div>
      </div>
    </div>
    <div class="ui  attached padded segment">
      <!--内容-->

      <h2 class="ui center aligned header">${blog.title}</h2>
      <br>
      <!--中间主要内容部分-->
      <div id="content"
           class="typo  typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-large">${blog.content!}</div>

      <!--标签-->
      <div class="m-padded-lr-responsive">
        <div class="ui basic teal left pointing label">${blog.tag}</div>
      </div>

    </div>
    <div class="ui bottom attached segment">
      <!--留言区域列表-->
      <div id="comment-container" class="ui teal segment">
        <div>
          <div class="ui threaded comments" style="max-width: 100%;">
            <h3 class="ui dividing header">评论</h3>
            <#list commentList as item>
              <div class="comment">
                <a class="avatar">
                  <img src="${item.userIcon}">
                </a>
                <div class="content">
                  <a class="author">
                    <span>${item.userName}</span>
                  </a>
                  <div class="metadata">
                    <span class="date">${item.createTime?string("yyyy-MM-dd HH:mm:ss")}</span>
                  </div>
                  <div class="text">
                    ${item.content!}
                  </div>
                </div>
              </div>
            </#list>

          </div>
        </div>
      </div>
      <div id="comment-form" class="ui form">
        <form method="post" action="/blog/comment">
          <input type="hidden" name="blogId" value="${blog.id}">
          <div class="field">
            <textarea name="content" placeholder="请输入评论信息..." required></textarea>
          </div>
          <div class="fields">
            <div class="field  m-margin-bottom-small m-mobile-wide">
              <button id="commentpost-btn" type="submit" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<#include "common/footer.html"/>
<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });


    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'left center'
    });


</script>
</body>
</html>