<!DOCTYPE html>
<html lang="en">
<#include "common/head.html"/>

<body>
<#assign menuAct="1"/>
<!--导航-->
<#include "common/menu.html"/>

<!--中间内容-->
<div class="m-container m-padded-tb-big animated fadeIn">
  <div class="ui container">
    <div class="ui stackable grid">
      <!--左边博客列表-->
      <div class="eleven wide column">
        <!--header-->
        <div class="ui top attached segment">
          <div class="ui middle aligned two column grid">
            <div class="column">
              <h3 class="ui teal header">博客</h3>
            </div>
            <div class="right aligned column">
              共 <h2 class="ui orange header m-inline-block m-text-thin"> ${pageInfo.total} </h2> 篇
            </div>
          </div>
        </div>

        <!--content-->
        <div class="ui attached  segment">
          <#list pageInfo.list as item>
            <@blogItem item=item/>
          </#list>
        </div>

        <!--footer-->
        <div class="ui bottom attached segment">
          <div class="ui middle aligned two column grid">
            <#if pageInfo.hasPreviousPage>
              <div class="column">
                <a href="/?title=${title!}&pageNum=${pageInfo.prePage}" class="ui mini teal basic button">上一页</a>
              </div>
            </#if>
            <#if pageInfo.hasNextPage>
              <div class="right aligned column">
                <a href="/?title=${title!}&pageNum=${pageInfo.nextPage}" class="ui mini teal basic button">下一页</a>
              </div>
            </#if>
          </div>
        </div>

      </div>

      <!--右边的top-->
      <div class="five wide column">
        <!--社团-->
        <div class="ui segments">
          <div class="ui secondary segment">
            <div class="ui two column grid">
              <div class="column">
                <i class="idea icon"></i>热门社团
              </div>
              <div class="right aligned column">
                <a href="/league/list" target="_blank">more <i class="angle double right icon"></i></a>
              </div>
            </div>
          </div>
          <div class="ui teal segment">
            <div class="ui fluid vertical menu">
              <#list leagueList as item>
                <a href="#" target="_blank" class="item">
                  <span>${item.name!}</span>
                  <div class="ui teal basic left pointing label">${item.userNum}</div>
                </a>
              </#list>
            </div>
          </div>
        </div>

        <!--标签-->
        <div class="ui segments m-margin-top-large">
          <div class="ui secondary segment">
            <div class="ui two column grid">
              <div class="column">
                <i class="tags icon"></i>活跃标签
              </div>
              <div class="right aligned column">
                <a href="/tag/list" target="_blank">more <i class="angle double right icon"></i></a>
              </div>
            </div>
          </div>
          <div class="ui teal segment">
            <#list tagList as item>
              <a href="/tag/list?tagId=${item.id}" target="_blank"
                 class="ui teal basic left pointing label m-margin-tb-tiny">
                <span>${item.name}</span>
                <div class="detail">${item.blogNum}</div>
              </a>
            </#list>

          </div>
        </div>

        <!--最新推荐-->
        <div class="ui segments m-margin-top-large">
          <div class="ui secondary segment ">
            <i class="bookmark icon"></i>热门博客
          </div>
          <div class="ui teal segment">
            <div class="ui vertical menu">
              <#list blogList as item>
                <a href="/blog/detail/${item.id}" target="_blank" class="item">${item.title}</a>
              </#list>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<!--底部footer-->
<#include "common/footer.html"/>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>