<!DOCTYPE html>
<html lang="en">
<#include "../include/resource-head.html"/>
<body>
<#assign active='leagueList'/>
<#include "../include/common-top.html"/>
<div class="main-container" id="main-container">
  <div class="main-container-inner">
    <#include "../include/common-menu.html"/>
    <div class="main-content">
      <div class="page-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-search">
              <form role="form" class="form-inline clearfix" id="form" action="">
                <div class="input-group col-xs-3">
                  <span class="input-group-addon">名字</span>
                  <input type="text" class="form-control" name="name" value="${name!}">
                </div>
              </form>
              <div class="form-tool btn-group">
                <button class="btn btn-sm btn-success" form="form">
                  <i class="icon-search"></i>搜索
                </button>
              </div>
            </div>
            <div class="table-responsive">
              <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>社团名</th>
                  <th>人员数</th>
                  <th>添加时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <#list pageInfo.list as item>
                  <tr>
                    <td>${item.name}</td>
                    <td>${item.userNum}</td>
                    <td>${item.createTime?string('yyyy-MM-dd HH:mm:ss')}</td>
                    <td>
                      <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                        <a class="btn btn-xs btn-info" href="/admin/league/detail/${item.id}">
                          <i class="icon-edit bigger-120"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </#list>
                </tbody>
              </table>
              <#include "../include/table-page.html"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<#include "../include/resource-script.html"/>

</html>

