<!DOCTYPE html>
<html lang="en">
<#include "../include/resource-head.html"/>
<#assign active='leagueList'/>
<body>
<#include "../include/common-top.html"/>
<div class="main-container" id="main-container">
  <div class="main-container-inner">
    <#include "../include/common-menu.html"/>
    <div class="main-content">
      <div class="page-content">
        <div class="col-xs-12">
          <div class="row-fluid">
            <div class="widget-box">
              <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">
                  <i class="icon-plus"></i>社团信息
                </h4>
              </div>
              <div class="widget-body">
                <div class="widget-main">
                  <div class="step-content row-fluid position-relative">
                    <form class="form-horizontal" action="/admin/league/update" method="post">
                      <input type="hidden" name="id" value="${league.id!}"/>
                      <div class="form-group has-info">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right">名字</label>
                        <div class="col-xs-12 col-sm-5">
                          <input type="text" class="width-100" name="name" value="${league.name!}"/>
                        </div>
                      </div>
                      <hr/>
                      <div class="row-fluid wizard-actions">
                        <button class="btn" type="reset">重置</button>
                        <button class="btn btn-success" type="submit">提交</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
  </div>
  <!-- /.main-container -->
</body>
<#include "../include/resource-script.html"/>
</html>

